@model IEnumerable<GestorOS.Models.UsuarioModel>

@{
    ViewData["Title"] = "Usuario";
}
<h1>Usuários</h1>
<a class="navbar-brand" asp-controller="Login" asp-action="Sair">Sair</a>
<p>
    <a asp-action="Create">Criar novo usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
               
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            
        </tr>


    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email) 
              
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil)
            </td>  
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
